//
// ADAPTIVE
//
$grid-breakpoint-mobile: 320px;
$grid-breakpoint-tablet: 768px;
$grid-breakpoint-desktop: 1150px;

$indent-mobile: 30px;
$indent-tablet: 50px;
$indent-tablet-left: 167px;
$indent-desktop-left: 175px;

$content-width-mobile: 260px;
$content-width-tablet: 668px;
$content-width-desktop: 1050px;

//
// COLORS,
// http://chir.ag/projects/name-that-color
//
$color-white: #ffffff;
$color-black: #000000;
$color-swamp: #000101;
$color-diesel: #010000;
$color-mine-shaft: #221f1f;
$color-thunder: #231f20;
$color-tundora: #444444;
$color-silver: #c6c6c6;
$color-alto: #d6d6d6;
$color-mercury: #e5e5e5;
$color-gallery: #ececec;
$color-seashell: #f1f1f1;
$color-puerto-rico: #46c1ae;
$color-downy: #63d1bb;
$color-downy-light: #62d1ba;
$color-viking: #59d5bc;
$color-alabaster: #f9f9f9;
