@mixin media-mobile() {
  @media (min-width: $grid-breakpoint-mobile) {
    @content;
  }
}

@mixin media-tablet() {
  @media (min-width: $grid-breakpoint-tablet) {
    @content;
  }
}

@mixin media-desktop() {
  @media (min-width: $grid-breakpoint-desktop) {
    @content;
  }
}

@mixin fonts($size, $height, $weight, $style, $color) {
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
  font-style: $style;
  color: $color;
}

@mixin reset-margin-padding() {
  margin: 0;
  padding: 0;
}

@mixin reset-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}

@mixin reset-font() {
  @include fonts(0, 0, 400, normal, transparent);
}

@mixin take-menu-item-out-of-flow($z-index, $top, $left) {
  position: absolute;
  z-index: $z-index;
  top: $top;
  left: $left;
  border: none;
}

@mixin catalog-section($padding-bottom, $icon-top, $icon-right, $bg-color, $icon-w, $icon-h, $icon-url) {
  $padding-top: 25px;
  $grow-size: 5px;

  padding-top: $padding-top;
  padding-bottom: $padding-bottom;
  background-color: $bg-color;

  position: relative;

  &:hover,
  &:focus {
    padding-bottom: $padding-bottom + $grow-size;
    padding-top: $padding-top - $grow-size;
    box-shadow: 0 -#{$grow-size} 0 0 $bg-color;

    &::after {
      top: $icon-top - $grow-size;
      opacity: 0.7;
    }
  }

  &:active {
    color: rgba($color-white, 0.3);

    &::after {
      opacity: 0.3;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: $icon-top;
    right: $icon-right;

    width: $icon-w;
    height: $icon-h;
    margin-left: auto;

    background-color: $bg-color;
    background-image: url($icon-url);
    background-repeat: no-repeat;
    background-position: 0 0;

    opacity: 0.5;
  }
}

@mixin catalog-item-shadow-hover() {
  box-shadow: 0 6px 10px 0 rgba($color-black, 0.1);
}

@mixin catalog-item-shadow-active() {
  box-shadow: 0 3px 5px 0 rgba($color-black, 0.1);
}

@mixin wave-after($height, $bg-url) {
  &::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: $height;
    background-color: $color-white;
    background-image: url($bg-url);
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}

@mixin wave-bg($bg-url) {
  background-color: transparent;
  background-image: url($bg-url);
  background-repeat: repeat-x;
  background-position: 0 100%;
}

@mixin wave-bg-mobile() {
  @include wave-bg("../img/wave-mobile.svg");
}

@mixin wave-bg-tablet() {
  @include wave-bg("../img/wave-tablet.svg");
}

@mixin wave-bg-desktop() {
  @include wave-bg("../img/wave-desktop.svg");
}

@mixin wave-after-desktop() {
  &::after {
    content: "";
    position: absolute;
    top: calc(100% - #{23px});
    left: $indent-tablet;
    display: block;
    width: $content-width-desktop;
    height: 23px;

    background-color: transparent;
    background-image: url("../img/wave-desktop.svg");
    background-repeat: repeat-x;
    background-position: 0 0;
  }
}

@mixin put-review-bg($left: 0) {
  &::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: $left;
    display: block;
    width: 350px;
    height: 457px;
    background-color: $color-alto;
    background-image: url("../img/reviews__bg-tablet@1x.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}
