body {
  min-width: $mobile-grid-breakpoint;

  font-family: "Open Sans", "Arial", sans-serif;

  @include fonts(15px, normal, 400, normal, $color-tundora);
}

/*
  GRID
*/

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $mobile-indent;
  padding-left: $mobile-indent;

  @include mobile-media {
    max-width: $mobile-grid-breakpoint;
  }

  @include tablet-media {
    max-width: $tablet-grid-breakpoint;
    padding-right: $tablet-indent;
    padding-left: $tablet-indent;
  }

  @include desktop-media {
    max-width: $desktop-grid-breakpoint;
  }
}

.container-fluid {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  @include mobile-media {
    max-width: $mobile-grid-breakpoint;
  }

  @include tablet-media {
    max-width: $tablet-grid-breakpoint;
  }

  @include desktop-media {
    max-width: $desktop-grid-breakpoint;
  }
}

/*
  UTILS
*/

.visually-hidden { /* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cut-from-content {
  display: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}
