body {
  min-width: $mobile-grid-breakpoint;

  font-family: "Open Sans", "Arial", sans-serif;

  @include fonts(15px, normal, 400, normal, $color-tundora);
}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  @include mobile-media {
    max-width: $mobile-container-max-width;
  }

  @include tablet-media {
    max-width: $tablet-container-max-width;
    padding-right: 50px;
    padding-left: 50px;
  }

  @include desktop-media {
    max-width: $desktop-container-max-width;
  }
}

/*
  UTILS
*/

.visually-hidden { /* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cut-from-content {
  display: none;
}
