body {
  min-width: $grid-breakpoint-mobile;

  font-family: "Open Sans", "Arial", sans-serif;

  @include fonts(15px, normal, 400, normal, $color-tundora);
}

/*
  ADAPTIVE
*/

.grid { // с отступами + фиксированная max-width
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $indent-mobile;
  padding-left: $indent-mobile;

  @include media-mobile {
    max-width: $grid-breakpoint-mobile;
  }

  @include media-tablet {
    max-width: $grid-breakpoint-tablet;
    padding-right: $indent-tablet;
    padding-left: $indent-tablet;
  }

  @include media-desktop {
    max-width: $grid-breakpoint-desktop;
  }
}

.grid-fluid { // без отступов + фиксированная max-width
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 0;
  padding-left: 0;

  @include media-mobile {
    max-width: $grid-breakpoint-mobile;
  }

  @include media-tablet {
    max-width: $grid-breakpoint-tablet;
  }

  @include media-desktop {
    max-width: $grid-breakpoint-desktop;
  }
}

.grid-unlim { // без отступов, без ограничений по ширине
  width: 100%;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.grid-modal {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: $indent-mobile;
  padding-left: $indent-mobile;

  @include media-mobile {
    max-width: $grid-breakpoint-mobile;
  }

  @include media-tablet {
    max-width: 566px;
    padding-right: 108px;
    padding-left: 108px;
  }
}

/*
  UTILS
*/

.visually-hidden { /* https://allyjs.io/tutorials/hiding-elements.html#2017-edition-of-visuallyhidden */
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cut-from-content {
  display: none;
}

.no-gutters {
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  padding-left: 0;
}

.modal-open {
  overflow: hidden;
}
