.advantages {
  margin-top: 29px;
}

.advantages__container {
  margin-left: -10px;
}

.advantages__header {
  @include reset-margin-padding();
  margin-left: 8px;
}

.advantages__list {
  @include reset-list();
  margin-top: 2px;
}

.advantages__item {
  display: inline-block;
  vertical-align: top;

  @include fonts(17px, 20px, 700, normal, $color-black);
  letter-spacing: 0.16px;

  &--environmentally-friendly-material {
    width: 204px;
    padding-top: 84px;
    padding-left: 9px;

    background-color: $color-white;
    background-image: url("../img/icon-advantages__item--environmentally-friendly-material.svg");
    background-repeat: no-repeat;
    background-position: 18px 30px;
  }

  &--scandinavian-style-at-the-russian-price {
    width: 215px;
    padding-top: 84px;
    padding-left: 9px;

    background-color: $color-white;
    background-image: url("../img/icon-advantages__item--scandinavian-style-at-the-russian-price.svg");
    background-repeat: no-repeat;
    background-position: 10px 30px;
  }

  &--increases-likes-on-photos {
    width: 200px;
    padding-top: 82px;
    padding-left: 9px;

    background-color: $color-white;
    background-image: url("../img/icon-advantages__item--increases-likes-on-photos.svg");
    background-repeat: no-repeat;
    background-position: 17px 34px;
  }

  &--hand-tied-with-love-and-affection {
    width: 225px;
    padding-top: 84px;
    padding-left: 10px;

    background-color: $color-white;
    background-image: url("../img/icon-advantages__item--hand-tied-with-love-and-affection.svg");
    background-repeat: no-repeat;
    background-position: 13px 32px;
  }

  &--support-of-domestic-manufacturer {
    width: 265px;
    padding-top: 82px;
    padding-left: 10px;

    background-color: $color-white;
    background-image: url("../img/icon-advantages__item--support-of-domestic-manufacturer.svg");
    background-repeat: no-repeat;
    background-position: 4px 32px;
  }

  &--comes-in-gift-box {
    width: 211px;
    padding-top: 83px;
    padding-left: 10px;

    background-color: $color-white;
    background-image: url("../img/icon-advantages__item--comes-in-gift-box.svg");
    background-repeat: no-repeat;
    background-position: 13px 31px;
  }
}

//
// ADAPTIVE
//
@include media-tablet {
  .advantages {
    margin-top: 51px;
  }

  .advantages__container {
    margin-left: -12px;
  }

  .advantages__list {
    height: 550px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
  }

  .advantages__item {
    margin-right: 83px;
    margin-top: 18px;
    margin-left: 3px;
    margin-bottom: 9px;

    @include fonts(20px, 22px, 700, normal, $color-black);
    letter-spacing: 0.18px;

    &--environmentally-friendly-material {
      width: 217px;
    }

    &--scandinavian-style-at-the-russian-price {
      width: 247px;
    }

    &--increases-likes-on-photos {
      width: 240px;
    }

    &--hand-tied-with-love-and-affection {
      width: 260px;
    }

    &--support-of-domestic-manufacturer {
      width: 308px;
    }

    &--comes-in-gift-box {
      width: 248px;
    }
  }
}

@include media-desktop {
  .advantages {
    margin-top: 60px;
  }

  .advantages__container {
    padding-left: $indent-desktop-left;
  }

  .advantages__header {
    letter-spacing: -0.4px;
  }

  .advantages__list {
    margin-top: 1px;
  }

  .advantages__item {
    margin-right: 99px;
  }
}
