.catalog {
  margin-top: 30px;

  &__container {
    margin-left: $indent-30;
    margin-right: $indent-30;
    margin-bottom: 58px;
  }

  &__list {
    @include resetList();
  }

  &__item {
    margin-bottom: 30px;
  }
}
