.contacts {
  width: 100%;
  margin-top: 41px;
  padding-bottom: 39px;

  position: relative;

  @include fonts(15px, 30px, 400, normal, $color-tundora);

  h3 {
    font-size: 18px;
  }
}

.contacts__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.contacts__header {
  @include reset-margin-padding();

  align-self: flex-start;
}

.contacts__table {
  width: 100%;
  margin-top: 17px;
  margin-left: 1px;
  margin-bottom: 16px;
  border-spacing: 0;

  td {
    padding: 9px 0 21px;
    vertical-align: top;
  }
}

.contacts__param-name {
  width: 78px;
}

.contacts__mail-link {
  padding-bottom: 4px;
  border-bottom: 1px solid $color-downy;
  text-decoration: none;

  &:visited {
    color: $color-tundora;
  }

  &:hover,
  &:focus {
    color: $color-puerto-rico;
    border-bottom-color: $color-puerto-rico;
  }

  &:active {
    color: rgba($color-puerto-rico, 0.3);
    border-bottom-color: rgba($color-puerto-rico, 0.3);
  }
}

.contacts__address-value-wrap {
  display: inline-block;
  vertical-align: top;
  width: 142px;
}

.contacts__map {
  width: 100%;
  height: 457px;
  overflow: hidden;

  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.contacts__pin-wrap {
  position: absolute;
  top: 28%;
  left: 50%;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: -33px;

    display: block;
    width: 67px;
    height: 100px;

    background-color: transparent;
    background-image: url("../img/icon-contacts__map-pin.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
  }
}

.contacts__btn {
  width: $content-width-mobile;
  margin-top: 39px;
  margin-left: 2px;

  text-align: center;
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .contacts {
    margin-top: 60px;
    padding-bottom: 57px;

    h3 {
      @include fonts(43px, 50px, 700, normal, $color-black);
    }
  }

  .contacts__container--before-map {
    background-color: transparent;
    background-image: url("../img/contacts__flag-tablet.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - #{$indent-tablet}) 0;
  }

  .contacts__table {
    margin-top: 55px;
    margin-bottom: 55px;
  }

  .contacts__tbody {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .contacts__table-row {
    width: 50%;
  }

  .contacts__address-value-wrap {
    width: 180px;
  }

  .contacts__btn {
    width: 230px;
    margin-top: 57px;
  }
}

@include media-desktop {
  .contacts {
    margin-top: 130px;
    margin-bottom: 90px;
    padding-bottom: 0;

    h3 {
      @include fonts(53px, 57px, 700, normal, $color-black);
    }
  }

  .contacts__container {
    align-items: flex-start;
    padding-left: $indent-desktop-left + $indent-tablet; // becouse box model
  }

  .contacts__container--before-map {
    background-position: ($indent-tablet * 2) 0;
  }

  .contacts__tbody {
    flex-direction: column;
  }

  .contacts__table-row {
    width: 100%;
  }

  .contacts__table-row:not(:first-child) {
    margin-top: 10px;
  }

  .contacts__map-wrap {
    width: $content-width-desktop;
    margin-left: auto;
    margin-right: auto;

    position: relative;
  }

  .contacts__map {
    position: absolute;
    top: -400px;
    right: 0;

    width: 50%;
    height: 457px;
  }

  .contacts__btn {
    margin-top: 6px;
  }
}
