.form-add-product {
  .form-group-add-product:not(:last-child) {
    margin-right: 7px;
  }

  .form-group-add-product:nth-child(3n) {
    margin-right: 0;
  }
}

.form-add-product__list {
  @include reset-list();
  margin-top: 25px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}

.form-add-product__btn {
  width: 100%;
  margin-top: 20px;
  border-color: $color-downy;
  background-color: $color-downy;

  @include fonts(17px, 16px, 700, normal, $color-white);

  &:hover,
  &:focus {
    outline-width: 5px;
    background-color: $color-downy;
    color: $color-white;
  }

  &:active {
    color: rgba($color-white, 0.3);
  }
}
