.form-order {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 55px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.form-order__intro-wrap {
  @include form-group-order-list();
}

.form-order__intro {
  @include reset-margin-padding();
  @include fonts(13px, 24px, 400, normal, $color-tundora);
}

.form-order__form {
  width: 100%;
  margin-top: 24px;
}

.form-order__footer {
  @include form-group-order-list();
}

.form-order__info-required {
  @include reset-margin-padding();
  margin-top: 3px;
  margin-left: -1px;

  @include fonts(14px, 16px, 400, normal, $color-tundora);
}

.form-order__btn {
  width: 100%;
  margin-top: 31px;
  padding-top: 17px;
  padding-bottom: 15px;

  @include fonts(17px, 16px, 700, normal, $color-tundora);
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .form-order {
    padding-bottom: 50px;
  }

  .form-order__intro {
    @include fonts(17px, 30px, 400, normal, $color-tundora);
    margin-top: 51px;
  }

  .form-order__footer {
    margin-top: 40px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .form-order__btn {
    order: 1;
    width: 230px;
    margin-top: 0;
  }

  .form-order__info-required {
    @include fonts(17px, 30px, 400, normal, $color-tundora);
    order: 2;
  }
}

@include media-desktop {
  .form-order__intro {
    padding-left: $indent-desktop-left;
  }

  .form-order__footer {
    padding-left: $indent-desktop-left + 50px; //becouse box model
  }
}
