.form-group-order {
  width: 100%;
  padding-bottom: 10px;

  position: relative;

  input::placeholder,
  textarea::placeholder { /* Most modern browsers support this now. */
    @include fonts(17px, 18px, 400, normal, $color-tundora);
    opacity: 0.3;
  }

  input,
  textarea {
    @include fonts(17px, 18px, 400, normal, $color-tundora);
  }

  label {
    display: inline-block;
    vertical-align: top;
  }
}

.form-group-order__list {
  @include reset-margin-padding();
  @include reset-list();
  @include form-group-order-list();

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  @include media-tablet {
    padding-left: $indent-tablet-left + $indent-tablet + 19px; // becouse box model
  }

  @include media-desktop {
    padding-left: $indent-desktop-left + $indent-tablet + 19px; // becouse box model
  }
}

.form-group-order__item {
  @include fonts(17px, 18px, 700, normal, $color-black);
}

.form-group-order__title-wrap {
  @include form-group-order-list();
  position: relative;
}

.form-group-order__title {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  &::after {
    content: "";
    display: block;
    width: 100%;
    height: 1px;
    margin-left: 25px;
    margin-top: 1px;
    background-color: $color-downy-light;
  }
}

.form-group-order__title-text {
  @include reset-margin-padding();
  @include fonts(17px, 16px, 700, normal, $color-downy);
  text-transform: uppercase;
}

.form-group-order--type {
  .form-group-order__title {
    margin-bottom: 26px;
  }

  .form-group-order__title-text {
    width: 50px;
  }

  .form-group-order__item:not(:last-child) {
    margin-bottom: 3px;
  }

  label {
    padding-top: 8px;
    padding-bottom: 13px;
    margin-left: 62px;

    position: relative;

    user-select: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -61px;
      display: block;
      width: 38px;
      height: 38px;

      border-radius: 50%;
      border: 2px solid $color-tundora;
    }

    &:hover::before {
      border-color: $color-downy-light;
    }

    &:active::before {
      border-color: rgba($color-tundora, 0.3);
    }
  }

  input {
    &:checked ~ label::after {
      content: "";
      position: absolute;
      top: 11px;
      left: -50px;
      display: block;
      width: 16px;
      height: 16px;

      border-radius: 50%;
      border: none;
      background-color: $color-downy-light;
    }

    &:focus ~ label::before {
      border-color: $color-downy-light;
    }
  }
}

.form-group-order--color {
  padding-top: 21px;

  .form-group-order__title {
    margin-bottom: 26px;
  }

  .form-group-order__title-text {
    width: 38px;
  }

  .form-group-order__item:not(:last-child) {
    margin-bottom: 24px;
  }

  label {
    padding-top: 10px;
    padding-bottom: 9px;
    margin-left: 62px;

    position: relative;

    user-select: none;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: -1px;
      left: -62px;
      display: block;
      width: 40px;
      height: 39px;

      border: 2px solid $color-tundora;
    }

    &:hover::before {
      border-color: $color-downy-light;
    }

    &:active::before {
      border-color: rgba($color-tundora, 0.3);
    }
  }

  input {
    &:checked ~ label::after {
      content: "";
      position: absolute;
      top: 11px;
      left: -53px;
      display: block;
      width: 22px;
      height: 11px;

      border: 2px solid $color-thunder;
      border-top-style: none;
      border-right-style: none;
      transform: rotate(-45deg);
    }

    &:focus ~ label::before {
      border-color: $color-downy-light;
    }
  }
}

.form-group-order--fio {
  padding-top: 23px;
  padding-left: -1px;

  .form-group-order__title {
    margin-bottom: 26px;
    margin-left: 0;
  }

  .form-group-order__title-text {
    width: 38px;
  }

  .form-group-order__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-group-order__item:not(:last-child) {
    margin-bottom: 19px;
  }

  label {
    margin-left: 0;
    padding-top: 3px;
    padding-bottom: 9px;
  }

  input {
    width: 100%;
    margin-left: -1px;
    padding-top: 7px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid $color-black;

    &:hover,
    &:focus,
    &:active {
      outline-width: 0;
      border-color: $color-downy-light;
    }
  }
}

.form-group-order--phone {
  margin-left: -2px;
  padding-top: 21px;

  .form-group-order__title {
    margin-bottom: 18px;
    padding-left: 2px;
  }

  .form-group-order__title-text {
    width: 48px;
  }

  .form-group-order__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-group-order__item:not(:last-child) {
    margin-bottom: 24px;
  }

  input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 16px;
    padding-right: 40px;
    border: none;
    border-bottom: 2px solid $color-black;

    background-color: transparent;
    background-image: url("../img/icon-form-group-order__item-contacts--phone.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 6px) 0;

    &:hover,
    &:focus,
    &:active {
      outline-width: 0;
      border-color: $color-downy-light;
      background-image: url("../img/icon-form-group-order__item-contacts--phone-hover.svg");
    }
  }
}

.form-group-order--email {
  margin-left: -2px;
  padding-top: 22px;

  .form-group-order__title {
    margin-left: -1px;
    margin-bottom: 18px;
    padding-left: 3px;
  }

  .form-group-order__title-text {
    width: 86px;
  }

  .form-group-order__item {
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form-group-order__item:not(:last-child) {
    margin-bottom: 24px;
  }

  input {
    width: 100%;
    padding-top: 5px;
    padding-bottom: 16px;
    border: none;
    border-bottom: 2px solid $color-black;

    background-color: transparent;
    background-image: url("../img/icon-form-group-order__item-contacts--email.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 2px) 5px;

    &:hover,
    &:focus,
    &:active {
      outline-width: 0;
      border-color: $color-downy-light;
      background-image: url("../img/icon-form-group-order__item-contacts--email-hover.svg");
    }
  }
}

.form-group-order--extra {
  padding-top: 22px;

  .form-group-order__title {
    margin-bottom: 25px;
  }

  .form-group-order__title-text {
    width: 51px;
  }

  textarea {
    min-width: $content-width-mobile;
    width: $content-width-mobile;
    max-width: $content-width-mobile;
    height: 142px;
    margin-left: 0;
    padding: 15px 14px;
    border: 2px solid $color-black;

    &:hover,
    &:focus,
    &:active {
      outline-width: 0;
      border-color: $color-downy-light;
    }
  }
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .form-group-order__item {
    font-size: 19px;
  }

  .form-group-order__title {
    width: auto;
    position: absolute;
    top: 17px;
    left: $indent-tablet + 2px;

    &::after {
      display: none;
    }
  }

  .form-group-order--type {
    margin-top: 33px;
    padding-bottom: 29px;

    label {
      padding-top: 15px;
      padding-bottom: 40px;

      &::before {
        top: 0;
        left: -81px;
        display: block;
        width: 52px;
        height: 52px;
      }
    }

    input {
      &:checked ~ label::after {
        top: 15.5px;
        left: -65px;
        display: block;
        width: 21px;
        height: 21px;
      }
    }
  }

  .form-group-order--color {
    padding-top: 50px;
    padding-bottom: 23px;
    background-color: $color-seashell;

    label {
      padding-top: 15px;
      padding-bottom: 15px;

      &::before {
        top: -1px;
        left: -81px;
        width: 54px;
        height: 52px;
      }
    }

    input {
      &:checked ~ label::after {
        top: 13px;
        left: -68px;
        width: 29px;
        height: 16px;
      }
    }

    .form-group-order__list {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-content: flex-start;
      flex-wrap: wrap;
    }

    .form-group-order__item {
      width: 220.5px;
      margin-right: 40px;
      margin-bottom: 5px;
    }

    .form-group-order__item:not(:last-child) {
      margin-bottom: 29px;
    }

    .form-group-order__item:last-child {
      margin-bottom: 29px;
    }

    .form-group-order__item:nth-child(2n) {
      margin-right: 0;
    }
  }

  .form-group-order--fio {
    margin-top: 39px;
    margin-bottom: 23px;

    .form-group-order__title {
      top: 6px;
      left: $indent-tablet + 2px;
    }

    .form-group-order__item {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
    }

    label {
      margin-left: -19px;
      margin-right: 25px;
      margin-bottom: 27px;
    }

    input {
      padding-top: 4px;
      padding-bottom: 16px;
      padding-left: 17px;
      letter-spacing: 1.2px;
    }
  }

  .form-group-order--phone,
  .form-group-order--email {
    background-color: $color-seashell;

    .form-group-order__title {
      top: 18px;
      left: $indent-tablet;
    }

    .form-group-order__list {
      padding-left: 218px;
    }
  }

  .form-group-order--phone {
    margin-left: 0;
    padding-top: 50px;
    padding-bottom: 5px;

    input {
      padding-top: 16px;
      padding-left: 17px;
      letter-spacing: 0.85px;
      background-position: calc(100% - 26px) 11px;
    }
  }

  .form-group-order--email {
    margin-left: 0;
    padding-top: 19px;
    padding-bottom: 50px;

    input {
      padding-top: 16px;
      padding-left: 17px;
      letter-spacing: 0.85px;
      background-position: calc(100% - 22px) 16px;
    }
  }

  .form-group-order--extra {
    margin-top: 28px;

    .form-group-order__list {
      padding-left: 217px;
    }

    textarea {
      min-width: 501px;
      width: 501px;
      max-width: 501px;
      padding-top: 13.5px;
      padding-left: 15px;

      font-size: 19px;
      letter-spacing: 1.1px;
    }
  }

  .form-order__footer {
    margin-top: 41px;
  }

  .form-order__info-required {
    margin-top: -4px;
  }
}

@include media-desktop {
  .form-group-order--type {
    padding-bottom: 28px;

    .form-group-order__title {
      top: 17px;
      left: 114px;
    }

    .form-group-order__list {
      padding-left: 244px;
    }
  }

  .form-group-order--color {
    padding-top: 51px;
    padding-bottom: 28px;

    .form-group-order__title {
      top: 17px;
      left: 109px;
    }

    .form-group-order__list {
      padding-left: 244px;
    }

    .form-group-order__item:not(:last-child) {
      margin-bottom: 27px;
    }

    .form-group-order__item:last-child {
      margin-bottom: 27px;
    }

    .form-group-order__item:nth-child(2n) { // 2, 4, 6, ...
      margin-right: 43px;
    }

    .form-group-order__item:nth-child(3n+1) { // каждый третий, начиная с первого: 1, 4, 7, ...
      margin-right: 41px;
    }

    .form-group-order__item:nth-child(3n) { // 3, 6, 9, ...
      margin-right: 0;
    }

    .form-group-order__item:nth-child(5n) { // 5, 10, 15, ...
      margin-right: 43px;
    }
  }

  .form-group-order--fio {
    margin-bottom: 22px;

    .form-group-order__list {
      padding-left: 245px;
      padding-right: 225px;
    }

    .form-group-order__title {
      top: 4px;
      left: 111px;
    }

    input {
      padding-top: 3px;
      padding-bottom: 16px;
      padding-left: 18px;
    }
  }

  .form-group-order--phone {
    .form-group-order__title {
      top: 18px;
      left: 110px;
    }

    .form-group-order__list {
      padding-left: 225px;
      padding-right: 225px;
    }

    input {
      background-position: calc(100% - 8px) 11px;
    }
  }

  .form-group-order--email {
    .form-group-order__title {
      top: 19px;
      left: 109px;
    }

    .form-group-order__list {
      padding-left: 225px;
      padding-right: 225px;
    }

    input {
      letter-spacing: 1.1px;
      background-position: calc(100% - 4px) 16px;
    }
  }

  .form-group-order--extra {
    .form-group-order__title {
      top: 17px;
      left: 112px;
    }

    .form-group-order__list {
      padding-left: 225px;
    }

    textarea {
      min-width: 700px;
      width: 700px;
      max-width: 700px;
    }
  }

  .form-order__footer {
    margin-top: 37px;
    justify-content: flex-start;
  }

  .form-order__info-required {
    margin-left: 170px;
    padding-top: 3px;
  }
}
