.logo {
  padding-top: 21px;
  padding-bottom: 22px;

  picture {
    width: 86px;
    height: 35px;
  }
}

.logo__link {
  line-height: 0;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

//
// ADAPTIVE
//
@include media-tablet {
  .logo {
    padding-top: 22px;
    padding-bottom: 20px;

    picture {
      width: 113px;
      height: 46px;
    }
  }
}

@include media-desktop {
  .logo {
    padding-top: 0;
    padding-bottom: 0;

    picture {
      width: 149px;
      height: 72px;
    }
  }
}
