.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-nav__logo { // mobile, логотип
  width: 100%; // на всю ширину
}

.main-nav__site { // mobile, пункты навигации
  width: 100%; // на всю ширину
}

.main-nav__item {
  border-bottom: 1px solid $color-gallery;
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center; // mobile, лого и контент навигации центрируются
  align-items: center;
}

.main-nav__new {
  display: none;
}

.main-nav__sale {
  display: none;
}

.main-nav__btn-toggle {
  border: none;
  background-color: $color-white;
  background-repeat: no-repeat;
  background-position: center center;

  @include reset-font();

  user-select: none;
  cursor: pointer;

  position: absolute;

  &--close {
    top: 29px;
    right: 30px;
    width: 21px;
    height: 20px;
    background-image: url("../img/icon-main-nav__item-close.svg");
  }

  &--open {
    top: 32px;
    right: 32px;
    width: 20px;
    height: 14px;
    background-image: url("../img/icon-main-nav__item-open.svg");
  }
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .main-nav {
    max-width: $grid-breakpoint-tablet; // начиная с tablet и выше, это контентный блок всей шапки
    margin-right: auto; // центровщик
    margin-left: auto; // центровщик
    padding-left: $indent-tablet; // сеточные отступы
    padding-right: $indent-tablet; // сеточные отступы

    position: relative;

    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start; // специально
  }

  .main-nav__item {
    border-bottom: none; // на tablet нижняя граница стоит на блоке .page-header
    justify-content: flex-start;
    align-items: flex-start;
  }

  .main-nav__site {
    width: auto; // выкл., пришедший с mobile

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .main-nav__logo {
    width: 318px; // т.к. элементы в шапке статичные
    flex-grow: 1;
  }

  .main-nav__search {
    order: 1;
    width: 82px; // т.к. элементы в шапке статичные
    border-left: 1px solid $color-gallery;
  }

  .main-nav__basket {
    order: 2;
    flex-shrink: 0;
    border-left: 1px solid $color-gallery;
  }

  .main-nav__catalog {
    @include take-menu-item-out-of-flow(10000, 75px, 0);
    order: 3;
  }

  .main-nav__order {
    @include take-menu-item-out-of-flow(10000, 75px, 215px);
    order: 4;
  }
}

@include media-desktop {
  .main-nav {
    max-width: $grid-breakpoint-desktop;
    border-bottom: 1px solid $color-gallery; // теперь нижняя граница стоит на контентном блоке
  }

  .main-nav__logo {
    @include take-menu-item-out-of-flow(15000, 0, 490px);
    @include reset-margin-padding();
  }

  .main-nav__catalog {
    order: 1;
    position: static;
    width: 184px;
  }

  .main-nav__order {
    order: 2;
    position: static;
    width: 515px;
    border-left: 1px solid $color-gallery;
  }

  .main-nav__search {
    order: 3;
  }

  .main-nav__basket {
    order: 4;
  }

  .main-nav__new {
    @include take-menu-item-out-of-flow(10000, 75px, 0);
    display: block;
  }

  .main-nav__sale {
    @include take-menu-item-out-of-flow(10000, 75px, 215px);
    display: block;
  }
}
