.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__item {
    border-bottom: 1px solid $color-gallery;
  }

  &__logo {
    padding-top: 22px;
    padding-bottom: 22px;
  }

  &__new,
  &__sale {
    display: none;
  }
}
