.page-footer {
  width: 100%;
  padding-top: 26px;
  padding-bottom: 30px;

  background-color: $color-seashell;
}

.page-footer__container {
  padding-right: $indent-mobile;
  padding-left: $indent-mobile;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  margin-left: 57px;
}

.page-footer__copyright {
  $left: 37px;
  margin-top: 37px;
  margin-left: $left;

  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: -21px;
    left: -$left;

    width: 260px;
    height: 1px;
    background-color: $color-mercury;
  }
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .page-footer__container {
    padding-right: $indent-tablet;
    padding-left: $indent-tablet;

    justify-content: space-between;
  }

  .page-footer__logo {
    display: block;
  }

  .page-footer__social {
    margin-left: 85px;
  }

  .page-footer__copyright {
    margin-top: 0;
    margin-left: 0;

    &::before {
      display: none;
    }
  }
}

@include media-desktop {
  .page-footer__container {
    max-width: $grid-breakpoint-desktop;
    margin-right: auto;
    margin-left: auto;
  }
}
