.page-title {
  padding-top: 48px;
  padding-bottom: 53px;

  background-color: $color-alabaster;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.page-title--index {
  padding-top: 48px;
  padding-bottom: 305px;

  .page-title__header {
    width: 217px;
  }
}

.page-title__header {
  text-align: center;
  z-index: 300;
}

.page-title__bg-wrap {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 200;
  width: 100%;
  height: 100%;
  background-color: $color-alabaster;
  background-image: url("../img/page-title__bg-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 50% -18px;
}

/*
  GRID
*/

@include media-tablet {
  .page-title {
    &::after {
      content: "";
      position: absolute;
      z-index: 2000;
      top: calc(100% - 14px);
      left: 0;
      display: block;
      width: 100%;
      height: 24px;
      background-color: transparent;
      background-image: url("../img/wave-page-title-tablet.svg");
      background-repeat: repeat-x;
      background-position: 0 0;
    }
  }

  .page-title--index {
    padding-top: 100px;
    padding-bottom: 453px;

    .page-title__header {
      width: 517px;
    }
  }

  .page-title__bg-wrap {
    background-image: url("../img/page-title__bg-tablet@1x.jpg");
  }
}

@include media-desktop {
  .page-title {
    &::after {
      height: 34px;
      background-image: url("../img/wave-page-title-desktop.svg");
    }
  }

  .page-title--index {
    padding-top: 91px;
    padding-bottom: 433px;

    .page-title__header {
      width: 620px;
    }
  }
}
