.page-footer {
  width: 100%;
  padding: 30px;
  padding-top: 26px;

  background-color: $color-seashell;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__social {
    width: 100%;
    padding-left: 57px;
  }

  &__hr {
    width: 260px;
    height: 1px;
    margin-top: 26px;
    margin-bottom: 20px;
    border: none;
    background-color: $color-mercury;
  }

  &__copyright {
    width: 100%;
    padding-left: 37px;
  }
}
