.page-header__info {
  display: none;

  @include fonts(15px, 24px, 400, normal, $color-tundora);
}

/*
  GRID
*/

@include media-tablet {
  .page-header {
    position: relative;
  }

  .page-header__info {
    position: absolute;
    z-index: 10000;
    top: 86px;
    right: $indent-tablet;

    display: block;
  }
}
