.production-process__container {
  width: 100%;
  margin-bottom: 58px;

  border: 1px solid $color-gallery;

  h3 {
    @include fonts(17px, 24px, 700, normal, $color-black);
  }

  &:hover,
  &:focus {
    @include catalog-item-shadow-hover();
  }

  &:active {
    @include catalog-item-shadow-active();
  }
}

.production-process__header {
  @include reset-margin-padding();
  margin-top: 23px;
  padding-bottom: 23px;
  padding-left: 89px;
  letter-spacing: 0.1px;

  background-color: $color-white;
  background-image: url("../img/icon-production-process--camera.svg");
  background-repeat: no-repeat;
  background-position: 33px 10px;
}

.production-process__video {
  margin-left: -1px;
  margin-right: -1px;
}

.production-process__data-wrap {
  margin-left: 33px;
  margin-right: 34px;
}

.production-process__intro {
  @include reset-margin-padding();
  margin-top: 28px;

  @include fonts(13px, 24px, 400, normal, $color-tundora);
}

.production-process__btn {
  margin-top: 25px;
  margin-bottom: 32px;
  font-size: 17px;
  width: 192px;
  padding-left: 23px;
  letter-spacing: 0.2px;
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .production-process__container {
    margin-bottom: 63px;

    h3 {
      font-size: 20px;
    }

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-self: stretch;
  }

  .production-process__video {
    order: 1;
  }

  .production-process__header {
    order: 2;
    z-index: 1000;
    margin-top: -1px;
    padding-top: 38px;
    padding-left: 105px;
    padding-bottom: 5px;
    letter-spacing: 0.2px;

    background-position: 41px 38px;
    border-top: 1px solid $color-gallery;
  }

  .production-process__data-wrap {
    order: 3;
    margin-top: 10px;
    margin-left: 39px;
    margin-right: 36px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }

  .production-process__intro {
    margin-top: 17px;

    font-size: 15px;
    line-height: 30px;
  }

  .production-process__btn {
    width: 584px;
    margin-top: 35px;
    margin-left: 2px;
    margin-bottom: 45px;
    padding-left: 20px;
    text-align: center;
  }
}

@include media-desktop {

  $padding-left: 77px;
  $pic-width: 682px;

  .production-process__container {
    padding-left: $pic-width;

    position: relative;
  }

  .production-process__video {
    position: absolute;
    top: 0;
    left: 0;
    width: $pic-width;
  }

  .production-process__header {
    margin-top: 0;
    padding-top: 95px;
    padding-left: $padding-left;

    border: none;
    background-position: $padding-left 50px;
  }

  .production-process__data-wrap {
    margin-left: $padding-left;
    margin-right: 0;
  }

  .production-process__btn {
    width: 230px;
    margin-top: 82px;
    margin-bottom: 55px;
  }
}
