.review-author {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.review-author__name {
  @include fonts(17px, 24px, 700, normal, $color-black);
}

.review-author__contact {
  margin-top: 3px;

  @include fonts(17px, 30px, 400, normal, $color-tundora);
}
