.reviews {
  width: 100%;
  margin-top: 55px;
  padding-bottom: 45px;

  position: relative;

  @include waves-mobile();

  blockquote {
    @include reset-margin-padding();
    margin-top: 24px;
  }
}

.reviews__container {
  margin-left: -2px;
}

.reviews__header {
  @include reset-margin-padding();
}

.reviews__list {
  @include reset-list();
  padding-left: 2px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.reviews__text {
  @include reset-margin-padding();
  @include fonts(15px, 30px, 400, normal, $color-tundora);
}

.reviews__author {
  margin-top: 27px;
}

.reviews__navigation {
  margin-top: 29px;
  margin-left: 2px;
}

.reviews__btn {
  width: 99%;
  margin-top: 38px;
  margin-left: 2px;

  text-align: center;
}

/*
  GRID
*/

@include media-tablet {
  .reviews {
    padding-bottom: 110px;
    padding-top: 75px;

    @include waves-tablet();

    &::before {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      display: block;
      width: 350px;
      height: 457px;
      background-color: $color-alto;
      background-image: url("../img/reviews__bg-tablet@1x.jpg");
      background-repeat: no-repeat;
      background-position: 0 0;
    }
  }

  .reviews__container {
    margin-left: 0;
  }

  .reviews__list {
    margin-top: 30px;
  }

  .reviews__text {
    @include fonts(17px, 30px, 400, normal, $color-tundora);
  }

  .reviews__author {
    margin-top: 55px;
  }

  .reviews__navigation {
    position: absolute;
    bottom: 115px;
    right: $indent-tablet;
  }

  .reviews__btn {
    position: absolute;
    top: 0;
    right: $indent-tablet;

    width: 175px;
    margin-top: 75px;

    font-size: 17px;
  }
}

@include media-desktop {
  .reviews {
    padding-bottom: 0;

    &::after {
      display: none;
    }

    &::before {
      left: $indent-tablet;
    }
  }

  .reviews__container {
    padding-left: $indent-desktop-container-left;
    padding-bottom: 180px;

    background-color: transparent;
    background-image: url("../img/waves-tablet.svg");
    background-repeat: repeat-x;
    background-position: 0 100%;
  }

  .reviews__author {
    margin-top: 25px;
  }

  .reviews__navigation {
    bottom: 180px;
    right: $indent-tablet;
  }
}
