.reviews-navigation {
  width: 260px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.reviews-navigation__btn {
  width: 50%;
  height: 52px;

  border: 1px solid $color-gallery;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 48% 50%;

  @include resetFont();

  cursor: pointer;
  outline-width: 0;
}

.reviews-navigation__btn--previous {
  background-image: url("../img/reviews-navigation__btn-icon--previous.svg");
  border-right-color: transparent;
}

.reviews-navigation__btn--next {
  background-image: url("../img/reviews-navigation__btn-icon--next.svg");
}

.reviews-navigation__btn--previous,
.reviews-navigation__btn--next {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}
