.reviews {
  width: 100%;
  margin-top: 55px;
  padding-bottom: 50px;

  @include wave-bg-mobile();

  blockquote {
    @include reset-margin-padding();
    margin-top: 24px;
  }
}

.reviews__container {
  padding-left: $indent-mobile;
  padding-right: $indent-mobile;

  position: relative;
}

.reviews__header {
  @include reset-margin-padding();
}

.reviews__list {
  @include reset-list();
  margin-left: -2px;
  padding-left: 2px;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
}

.reviews__text {
  @include reset-margin-padding();
  @include fonts(15px, 30px, 400, normal, $color-tundora);
}

.reviews__author {
  margin-top: 27px;
  letter-spacing: 0.12px;
}

.review-author__contact {
  letter-spacing: -0.1px;
}

.reviews__navigation {
  margin-top: 29px;
  margin-left: 2px;
}

.reviews__btn {
  width: 99%;
  margin-top: 38px;
  margin-left: 2px;

  text-align: center;
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .reviews {
    margin-top: -12px;
    padding-top: 77px;
    padding-bottom: 132px;

    @include wave-bg-tablet();
    @include put-review-bg();
    position: relative;
  }

  .reviews__container {
    padding-left: $indent-tablet;
    padding-right: $indent-tablet;
  }

  .reviews__header {
    margin-left: -5px;
  }

  .reviews__list {
    margin-top: 25px;
    margin-left: -3px;
  }

  .reviews__text {
    @include fonts(17px, 30px, 400, normal, $color-tundora);
  }

  .reviews__author {
    margin-top: 58px;
  }

  .reviews__navigation {
    position: absolute;
    right: $indent-tablet + 2px;
    bottom: 2px;
  }

  .reviews__btn {
    position: absolute;
    top: 2px;
    right: $indent-tablet;

    width: 175px;
    margin-top: 0;

    font-size: 17px;
  }
}

@include media-desktop {
  .reviews {
    margin-top: -5px;
    padding-top: 0; // выкл. отступа с tablet
    padding-bottom: 0; // выкл. отступа с tablet

    &::before {
      display: none; // выкл. волны с tablet
    }
    background: none; // выкл. фона с tablet
  }

  .reviews__container {
    padding-top: 70px;
    padding-bottom: 185px;
    padding-left: $indent-desktop-left + $indent-tablet; // becouse box model

    @include wave-after-desktop();
    @include put-review-bg($indent-tablet);
  }

  .reviews__header {
    margin-left: -4px;
  }

  .reviews__list {
    width: 790px;
    margin-left: -2px;
  }

  .reviews__author {
    margin-top: 40px;
  }

  .reviews__navigation {
    bottom: 189px;
    right: $indent-tablet + 2px;
  }

  .reviews__btn {
    top: 79px;
    right: $indent-tablet;
  }
}
