.video {
  @include resetFont(); // высота строки(line-height) давала +4px
  position: relative;

  &__play {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    @include resetMarginPadding();

    background-color: transparent;
    background-image: url("../img/video__play--icon.svg");
    background-repeat: no-repeat;
    background-position: center center;

    @include resetFont();
    border: none;

    user-select: none;
    cursor: pointer;

    &:hover,
    &:focus {
      outline-width: 0;
      background-image: url("../img/video__play--icon-hover.svg");
    }

    &:active {
      background-image: url("../img/video__play--icon-active.svg");
    }
  }
}
