.week-product-modal {
  width: 320px;
  padding-top: 33px;
  padding-bottom: 45px;

  border: 1px solid $color-silver;
  box-shadow: 0 5px 10px 0 rgba($color-swamp, 0.25);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__header {
    display: inline-block;
    vertical-align: top;
    width: 148px;

    @include resetMarginPadding();
    @include fonts(25px, 30px, 700, normal, $color-black);
    text-align: center;
  }

  &__text {
    @include resetMarginPadding();
    margin-top: 23px;

    @include fonts(15px, 30px, 400, normal, $color-tundora);
  }
}
