.week-product {
  width: 100%;
  margin-top: 27px;
  padding-bottom: 40px;

  @include wave-bg-mobile();
}

.week-product__container {
  padding-left: $indent-mobile;
  padding-right: $indent-mobile;

  position: relative;
}

.week-product__header {
  @include reset-margin-padding();
}

.week-product__label {
  @include reset-margin-padding();
  margin-top: 5px;

  @include fonts(17px, 20px, 700, normal, $color-downy);
  text-transform: uppercase;
}

.week-product__description {
  margin-bottom: 28px;

  p {
    margin-top: 23px;

    @include fonts(15px, 24px, 400, normal, $color-tundora);
  }
}

.week-product__description-table {
  width: 100%;
  margin-top: 18px;
  border-spacing: 0;

  @include fonts(15px, 20px, 400, normal, $color-tundora);

  td {
    padding: 9px 0 10px;
    border-bottom: 1px solid $color-gallery;
    vertical-align: top;
  }
}

.week-product__param-name {
  width: 98px;
}

.week-product__buy {
  margin-top: 20px;
}

.week-product__price {
  text-align: center;

  @include reset-margin-padding();
  @include fonts(17px, 24px, 700, normal, $color-tundora);
}

.week-product__btn-order {
  width: 100%;
  margin-top: 26px;
  font-size: 17px;
  text-align: center;
}

/*
  ADAPTIVE
*/

@include media-tablet {
  .week-product {
    @include wave-bg-tablet();
    margin-top: 33px;
    margin-left: -5px;
    padding-bottom: 67px;
  }

  .week-product__container {
    padding-left: $indent-tablet;
    padding-right: $indent-tablet;
  }

  .week-product__wrap {
    padding-right: calc(50% + 44px);

    position: relative;
  }

  .week-product__label {
    position: absolute;
    top: 7px;
    right: 97px;

    display: inline-block;
    vertical-align: top;
    width: 50px;

    @include fonts(17px, 17px, 700, normal, $color-downy);
    text-indent: 8px;
  }

  .week-product__description {
    p {
      margin-top: 49px;
      margin-left: 1px;

      @include fonts(17px, 30px, 400, normal, $color-tundora);
    }
  }

  .week-product__description-table {
    margin-top: 36px;
    margin-left: 3px;
  }

  .week-product__param-name {
    width: 96px;
  }

  .week-product__pic {
    position: absolute;
    top: 8px;
    right: 0;
  }

  .week-product__buy {
    margin-top: 56px;
  }

  .week-product__btn-order{
    margin-top: 34px;
  }

  .week-product__price {
    @include fonts(20px, 24px, 700, normal, $color-tundora);
  }
}

@include media-desktop {
  .week-product {
    margin-top: 100px;
    padding-bottom: 0;

    background: none; // выкл. волну на фоне
  }

  .week-product__container {
    padding-left: $indent-desktop-left + $indent-tablet; // becouse box model
    padding-bottom: 93px;

    @include wave-after-desktop(); // ставлю волну на псевдо-элементе
  }

  .week-product__wrap {
    padding-right: calc(50% + 139px);
  }

  .week-product__header {
    position: relative;
    z-index: 150;
  }

  .week-product__label {
    top: 10px;
    left: $indent-tablet * 2;
  }

  .week-product__description-table {
    margin-top: 55px;
  }

  .week-product__pic {
    top: -160px;
    right: 0;
    z-index: 100;
  }

  .week-product__buy {
    margin-top: 100px;
  }

  .week-product__btn-order {
    margin-top: 35px;
  }
}
